body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.history {
    display: flex;
    align-items: center;
}

/* Scale and align the icon */
.history-icon {
    max-width: 20px; /* Maximum width of the icon */
    max-height: 20px; /* Maximum height of the icon */
    margin-right: 5px; /* Space between the icon and the text */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}